.recipes-block__preview h2::after {
  content: "RECIPES";
}
.recipes-block__content {
  display: flex;
  justify-content: space-between;
}
/* HALF-1 */
.recipes-content__active {
  width: 540px;
  height: 510px;
  background-color: var(--dg);
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: wrap column;

  background-image: url("../IMG/RECIPES/background.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 8px;
  overflow: hidden;
}

.recipes-active__back-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: 30px;
  transition: 0.2s all linear;
  cursor: pointer;
}
.recipes-active__back-icon img {
  width: 13px;
  height: 13px;
}
.recipes-active__back-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(0.93);
}

.recipes-active__title {
  width: 90px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 60px;
  border-radius: 3px;
}
.recipes-active__title h2 {
  font-family: HelveticaNeueCondensedBold;
  font-weight: 900;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.25px;
  color: #ffffff;
}

.recipes-active__date {
  margin-top: 65px;
}
.recipes-active__date h2 {
  font-family: HelveticaNeueRoman;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
}

.recipes-active__name {
  margin-top: 25px;
}
.recipes-active__name h2 {
  font-family: HelveticaNeueRoman;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

.recipes-active__author {
  margin-top: 45px;
}
.recipes-active__author h2 {
  font-family: HelveticaNeueRoman;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
}

.recipes-active__social {
  margin-top: 60px;
  display: flex;
  column-gap: 24px;
}
.recipes-views {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.recipes-views img {
  width: 22px;
  height: 15px;
  cursor: pointer;
}
.recipes-active__social-nums {
  font-family: HelveticaNeueRoman;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: #ffffff;
}
.recipes-comments {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.recipes-comments img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* HALF-2 */
.recipes-content__half-2 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;

  width: 540px;
  height: 510px;
}

.recipes-content__passive {
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s all linear;
  cursor: pointer;
}
.recipes-passive__name {
  margin-top: 30px;
}
.recipes-passive__name h2 {
  width: 490px;
  margin: 0 auto;
  font-family: HelveticaNeueRoman;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.recipes-passive__bar {
  width: 490px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.recipes-passive__title-AND-date {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.recipes-passive__title {
  width: 90px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.recipes-passive__title h2 {
  font-family: HelveticaNeueCondensedBold;
  font-weight: 900;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.25px;
  color: #ffffff;
}

.recipes-passive__date h2 {
  font-family: HelveticaNeueRoman;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
}

.recipes-passive__social {
  display: flex;
  column-gap: 27px;
}

.recipes-content__passive:nth-child(1) {
  background-image: url("../IMG/RECIPES/background-1.jpg");
  background-size: cover;
}
.recipes-content__passive:nth-child(2) {
  background: #252525;
}
.recipes-content__passive:nth-child(3) {
  background-color: var(--gr);
}
.recipes-content__passive:hover {
  box-shadow: 0px 0px 30px 17px rgba(0, 0, 0, 1);
  transform: scale(0.99);
}
